<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

  <system.web>
    
    <!-- Settings that remove some password rules. -->
    <!--
    <membership defaultProvider="MyMembershipProvider">
    <providers>
      <clear/>
      <add 
        name="MyMembershipProvider" 
        type="System.Web.Security.SqlMembershipProvider" 
        connectionStringName="LocalSqlServer"
        requiresQuestionAndAnswer="false"
        minRequiredPasswordLength="1"
        minRequiredNonalphanumericCharacters="0" />
    </providers>
    </membership>-->

    <roleManager enabled="true" />
    <authentication mode="Forms" />
  <compilation debug="true"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="webmaster@mysite.com">
      </smtp>
    </mailSettings>

  </system.net>
</configuration>
